@using BloggV1.Controllers
@model BloggV1.Models.Blogg

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ReadSingleBlogg</title>
    <link href="~/readstyle.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        @if (Checking.IsLoggedin())
        {

            Checking.IsAuthorized(true);
            @Html.ActionLink("Main Panel", "LoggedIn", "Main", new { @id = Checking.UserId() }, null)
        }
        else
        {
            @Html.ActionLink("Main Panel", "Login", "Main")
        }
    </div>
<div>
    <div class="blogg-entry">
        <p>
            Title: @Model.Title Category: @Model.CategoryName
        </p>
        <pre class="articleText">
                @Model.Text
            </pre>
        <p>
            Written by: @Model.FirstName @Model.LastName on: @Model.Date
        </p>

    </div>
</div>
</body>
</html>
