@model List<BloggV1.Models.Blogg>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ReadBlogg</title>
    <link href="~/readstyle.css" rel="stylesheet" />
</head>
<body>
<div>
    

        @foreach (var blogg in Model)
        {
            <div class="blogg-entry">
                <p>
                    Title: @blogg.Title Category: @blogg.CategoryName
                </p>
                <p>
                    @blogg.Text
                </p>
                <p>
                    Written by: @blogg.FirstName @blogg.LastName on: @blogg.Date
                </p>
            </div>
        }
    
</div>
</body>
</html>
