@model BloggV1.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoggedIn</title>
    <link href="~/mainstyle.css" rel="stylesheet" />
</head>
<body>
<div class="wrapper">
    <div>

        <table class="loginForm">
            <tr>
                <td class="greeting">

                    Hello @Model.FirstName @Model.LastName


                </td>

                <td>

                    @using (Html.BeginForm("Logout", "Main", FormMethod.Post))
                    {
                        <input type="submit" value="Logout"/>
                    }
                </td>

            </tr>
        </table>
    </div>

    <ul>
        <li class="menuItem">
            @Html.ActionLink("View all bloggs", "ReadBlogg", "Read")
        </li>

        <li class="menuItem">
            @Html.ActionLink("Write a blogg entry", "WriteBlogg", "Write", new {id = @Model.UserId}, null)
        </li>

        <li class="menuItem">
            @Html.ActionLink("Read your bloggs", "ReadBlogg", "Read", new {userId = @Model.UserId, searchCriteria = "user"}, null)
        </li>

        <li class="menuItem">
            @Html.ActionLink("Search bloggs by category", "SearchByCategory", "Search")
        </li>

        <li class="menuItem">
            @Html.ActionLink("Search bloggs by title", "SearchByTitle", "Search")
        </li>

    </ul>
</div>

</body>
</html>
