@model BloggV1.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
        <link href="~/mainstyle.css" rel="stylesheet" />
        <script src="~/jquery-1.8.2.js"></script>
        <script src="~/login.js"></script>
    <title>Login</title>
</head>
<body>

    @{ bool isLogged = ViewBag.logged;}
<div>
    @if (!isLogged)
    {
        using (Html.BeginForm("Login", "Main", FormMethod.Post))
        {
            <div class="wrapper">
                <table>
                    <tr>
                        <td>
                            @Html.TextBoxFor(p => p.Username, new {@Value = "Username", @class = "username", @id = "username"})
                        </td>

                        <td>
                            @Html.TextBoxFor(p => p.Password, new {@Value = "Password", @class = "password"})
                        </td>

                        <td>
                            <input type="submit" value="submit"/>
                        </td>
                        @if (ViewBag.ErrorMessage != null)
                        {
                            <td>@ViewBag.ErrorMessage</td>
                        }
                    </tr>
                </table>

            </div>

        }
    }
    else
    {
        <div>
            Hello @Model.FirstName @Model.LastName


            @using (Html.BeginForm("Logout", "Main", FormMethod.Post))
            {
                <input type="submit" value="Logout"/>
            }
        </div>
    }

</div>

<ul>
    
    <li>
        @Html.ActionLink("View all bloggs", "ReadBlogg", "Read")
    </li>

    <li>
        @Html.ActionLink("Search bloggs by category", "SearchByCategory", "Search")
    </li>

    <li>
        @Html.ActionLink("Search bloggs by title", "SearchByTitle", "Search")
    </li>

    @if (isLogged)
    {
        <li>
            @Html.ActionLink("Write a blogg entry", "WriteBlogg", "Write", new {id = @Model.UserId}, null)
        </li>

    }
</ul>
</body>
</html>
