@model BloggV1.Models.WriteModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WriteBlogg</title>
    <script src="~/jquery-1.8.2.js"></script>
    <script src="~/writescript.js"></script>
</head>
<body>

    <div>
        @using (Html.BeginForm("WriteBlogg", "Write", FormMethod.Post))
        {
            <table>
                <tr>
                    <td>
                        @Html.HiddenFor(p => p.article.UserId, new {@Value = Model.user.UserId})
                    </td>
                    <td>
                        @Html.HiddenFor(p => p.article.Date, new {@Value = DateTime.Now})
                    </td>


                </tr>
                <tr>
                    <td>
                        Category:
                    </td>
                    <td>
                        @Html.DropDownListFor(x => x.article.CategoryId, Model.categories)

                    </td>
                </tr>
                <tr>
                    <td>
                        Title:
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.article.Title, new {@id = "articleTitle"})
                    </td>
                    <td>
                        Characters remaining:
                        <div id="titleChars">50</div>
                    </td>
                </tr>

                <tr>
                    <td>Text: </td>
                    <td>
                        @Html.TextAreaFor(p => p.article.Text, new {@id = "articleText"})
                    </td>
                    <td>
                        Characters remaining: <div id="charNum">2000</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="submit"/>
                    </td>
                </tr>
            </table>
            
        }
    </div>
</body>
</html>
